/* @import './base.css'; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
:root {
  --main-color: #0082e6;
  --main-color-50: rgba(0, 130, 230, 0.2);
  --sub-color: #a5d8ff;
  --sub-color-50: rgba(0, 130, 230, 0.2);
  --secondary-color: #e66400;
  --text-color: white;
}
* {
  font-size: 9px;
  box-sizing: border-box;
  font-family: 'Nunito';
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
h1 {
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
  color: var(--main-color);
  padding: 0.6rem;
  padding-left: 0;
}
h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 100%;
  font-weight: 600;
  padding: 0.6rem;
  padding-left: 0;
}
h3 {
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 600;
}
h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 600;
}
p {
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.6rem auto;
}
h1,
h2,
h3,
h4,
p {
  font-family: 'Nunito';
}
span {
  display: inline-block;
  width: 100%;
}
span p {
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-weight: 400;
}
button {
  border: solid 1px var(--main-color);
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.5rem 0.8rem;
  outline: none;
  color: var(--main-color);
  background-color: white;
  cursor: pointer;
  transition: 100ms;
}
button:hover {
  color: white;
  background-color: var(--main-color);
}
